<div class="jasmine-banner">
  <div>
    <button (click)="addRandomNumber(gallery)">
      Add random number
    </button>

    <button (click)="removeFirstNumber(gallery)">
      Add random number
    </button>
    <button (click)="addQuery(gallery)">
      Add query
    </button>
  </div>
  <div>
    <div *ngFor="let border of ['tiny', 'large','tiny', 'large']; let index = index">
      <app-gallery #gallery [typeBorder]="border"></app-gallery>
    </div>
  </div>
</div>
<div *ngFor="let count of [].constructor(10); index as index; trackBy: myTrack;">
  <ng-container *ngIf="index %2 ===0">
    <ng-container *appDelayRender="50 * index">

    </ng-container>
    <ng-container *appDelayRender="80 * index" class="Isvan">
      salut {{index}} {{address.postal.code}}
    </ng-container>
    <ng-container>
      <div *ngIf="address.postal.code">
        <button (click)="trigger(myTrack)">
          Trigger
        </button>
      </div>
    </ng-container>

  </ng-container>
</div>

<div>
  Chapter 2

  <div>
    <div>
      <input type="text" [(ngModel)]="searchText">
    </div>
    <div *appIfNot="readTime !== undefined">
      <h4>
        Read time = {{readTime}}
      </h4>
    </div>
  </div>
  <div appHighlight [highlightText]="searchText" [highlightColor]="'yellow'">
    <p class="text-content" appReadTime (readTimeCalculated)="onReadTimeCalculated($event)">
      Silent sir say desire fat him letter. Whatever settling goodness too and
      Silent sir say desire fat him letter. Whatever settling goodness too and
      Silent sir say desire fat him letter. Whatever settling goodness too and
      Silent sir say desire fat him letter. Whatever settling goodness too and
      Silent sir say desire fat him letter. Whatever settling goodness too and
      Silent sir say desire fat him letter. Whatever settling goodness too and Silent sir say desire fat him letter.

    </p></div>
</div>

<app-border-large></app-border-large>
